.App {
  font-family: sans-serif;
  text-align: center;
}

.box {
  width: 100px;
  height: 50px;
  background-color: #191622;
  color: #f1f2f3;
  border-radius: 0.5rem;
  position: fixed;

  top: 5em;
  left: 1em;
}

.box.otherPosition {
  left: 10em;
}

.label.otherPosition {
  margin-top: 2em;
}

